// excluding pager, pagination, modal, breadcrums, tooltip, carousel
@import 'bootstrap/bootstrap';
@import 'font/zetlandicons';
@import 'lesshat/lesshat';

//GENERAL
html {
	//height: 100%;
}
body {
	background: @brand-primary url(/images/bg.jpg) center center no-repeat;
	background-size: cover;
}
.twitter, p, table, .products, .newsletter p {
	font-family: @font-family-opensans;
}
//dodatni bg
.compass {
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	img {
		width: 200px;
		@media (min-width: @grid-float-breakpoint) {
			width: 300px;
		}
		@media (min-width: 1200px) {
			width: 500px
		}
		height: auto;
	}
}
//accordian control is a general usage element
@accordian-inactive-bg: #f2f2f2;
.accordian {
	.item {
		margin: 20px 0;		
		.title {
			background: @accordian-inactive-bg;
			padding: 5px 10px;
			color: @brand-tertiary;
			text-transform: uppercase;
			position: relative;
			cursor: pointer;
			&:after {
				content: "+";
				position: absolute;
				right: 10px;
				top: 50%;
				.transform(translateY(-50%));
				font-size: 25px;
			}
		}
		//conflict with the main .content
		.accordian-content {
			color: #333;
			display: none;
		}
		&.active {			
			.accordian-content {
				display: block;
			}
			.title {
				background: @brand-tertiary;
				color: #FFF;
				margin-bottom: 20px;
				&:after {
					content: "-";
				}
			}
		}
	}
}
//table is a general element
table {
	width: 100%;
	margin-bottom: 20px;
}
th,
td {
	padding: 10px 15px;
	text-align: left;
	border-bottom: 1px solid #e5e5e5; 
	font-size: 13px;
}
th {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 14px;
}
th:first-child,
td:first-child {
	padding-left: 0; 
}
th:last-child,
td:last-child {
	padding-right: 0; 
}
//HELPERS
.text-md-right {
	text-align: left;
	@media (min-width: @screen-sm) {
		padding-left: 0;
	}
	@media (min-width: @screen-md) {
		text-align: right;
	}
}
hr.gray {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ccc;
	margin: 30px 0;
}
.hrvertical-right {
	@media (min-width: @grid-float-breakpoint) {
		border-right: 1px solid #eee;
	}
}
// HEADER
header {
	color: #FFF;
	margin-top: 48px;
	.title {
		position: relative;
		h1 {
			text-align: center;
			text-transform: uppercase;
			font-size: 24px;
			letter-spacing: 0.1em;
		}
		.info {
			position: absolute;
			top: 0;
			&.left {
				left: 0;
			}
			&.right {
				right: 0;
			}
			display: none;
			@media (min-width: @grid-float-breakpoint) {
				display: block;
			}
		}
	}
	.navbar {
		margin-top: 40px;
		.info {
			span {
				display: block;
			}
			@media (min-width: @grid-float-breakpoint) {
				display: none;
			}
		}
	}
	.callout {
		margin: 40px 20px;
		h2 {
			font-size: 22px;
			line-height: 30/22;
			text-align: center;
			margin: 0;
		}
	}
}
//MAP
section.map {
	//static height of the image! does not change.
	height: 511px;
	display: none;
	@media (min-width: @screen-sm) {
		display: block;
	}
	.container {
		position: relative;
	}
	.expanded-map {
		position: absolute;
		top: 0;
		left: 50%;
		.transform(translateX(-50%));
		.hover {
			position: absolute;
			width: 40px;
			height: 40px;
			cursor: pointer;
			//debug purpuses
			//opacity: .5;
			//background-color: turquoise;
			&.hover-1 {
				top: 218px;
				left: 155px;
			}
			&.hover-2 {
				top: 163px;
				left: 309px;				
			}
			&.hover-3 {
				top: 44px;
				left: 472px;
			}
			&.hover-4 {				
				top: 138px;
				left: 469px;
			}
			&.hover-5 {
				top: 107px;
				left: 537px;
			}
			&.hover-6 {
				top: 339px;
				left: 458px;
			}
			&.hover-7 {
				top: 200px;
				left: 598px;
			}
			&.hover-8 {
				top: 208px;
				left: 770px;
			}
			&.hover-9 {
				top: 271px;
				left: 814px;
			}
			&.hover-10 {
				top: 106px;
				left: 822px;
			}
			&.hover-11 {
				top: 388px;
				left: 822px;
			}
			&.hover-12 {
				top: 211px;
				left: 883px;
			}
			&.hover-13 {
				top: 308px;
				left: 919px;
			}
			&.hover-14 {
				top: 250px;
				left: 932px;
			}
			&.hover-15 {
				top: 153px;
				left: 926px;
			}
			&.hover-16 {
				top: 445px;
				left: 941px;
			}
			&.hover-17 {
				top: 133px;
				left: 977px;
			}
			&.hover-18 {
				top: 35px;
				left: 969px;
			}
			&.hover-19 {
				top: 0px;
				left: 940px;
			}
			&.hover-20 {
				top: 252px;
				left: 1038px;
			}
			&.hover-21 {
				top: 208px;
				left: 1091px;
			}			
		}
	}
}
//MAIN
section.main {
	.content {
		background: #FFF;
		padding: 30px;
		h1, h3 {
			text-transform: uppercase;
			color: @brand-tertiary;
		}
	}
	.twitter {
		.zetland-twitter {
			color: #5ea9dd;
			position: absolute;
			top: 9px;
			left: 11px;
			font-size: 22px;
		}
		border: 1px solid #cdcdcd;
		padding: 15px 10px 15px 50px;
		position: relative;
		margin-bottom: 30px;
	}
	.services {
		.service {
			margin-bottom: 30px;
			.image {
				width: 120px;
				height: 120px;
				.border-radius(50%);
			}
			h3 {
				text-transform: none;
				font-size: 24px;
				color: @brand-tertiary;
			}
			p {
				margin: 0 0 15px;
			}
			@action-border-color: #84abd5;
			@action-link-color: #5c86c6;
			@action-carret-color: #0a58ab;
			.action {
				border-top: 1px solid @action-border-color;
				border-bottom: 1px solid @action-border-color;
				padding: 8px 0;
				position: relative;
				a, a:hover, a:focus {
					color: @action-link-color;
					text-transform: uppercase;
					font-size: 12px;
				}
				.icon {
					position: absolute;
					right: 0;
					top: 50%;
					.transform(translatey(-50%));
					margin-right: 0 !important;
					font-size: 16px;
					color: @action-carret-color;
				}
			}			
		}
	}
	//elements need the bottom margin because of the stacking in mobile view
	hr.notop {
		margin-top: 0;
	}
	.newsletter	{
		p {
			text-transform: uppercase;
			font-size: 14px;
			margin: 0;
		}
		p, input {
			margin-bottom: 10px;
		}
	}
	.newest {		
		.image {
			margin-bottom: 30px;
			background-position: center center;
			width: 100%;
			height: 200px;
		}
	}
}
//FOOTER
footer {
	color: #FFF;
	font-size: 12px;
	margin: 30px 0;
	.menu {
		list-style-type: none;
		padding: 0;
		a, a:hover, a:focus, a:visited {
			color: #FFF;
		}
		.clearfix();
		li {
			display: inline-block;
			margin-left: 20px;
			&:first-of-type {
				margin-left: 0;
			}
			&:after {
				content: "|";		
				position: relative;
				//-margin-left/2
				right: -10px;		
			}
			&:last-of-type {
				&:after { content: ""; }
			}
		}
	}
	.col-md-8 {
		@media (min-width: @grid-float-breakpoint) {
			padding-left: 0;
		}
	}
	.col-md-4 {
		@media (min-width: @grid-float-breakpoint) {
			padding-right: 0;
		}
	}
}